.wrapper {
    border-top: 1px solid #e3e3e4;
    padding: 20px 0;

    .label {
        padding: 5px 0;
        font-size: var(--font-size-small);
        font-family: var(--font-family);
    }

    .more-btn {
        margin-top: 10px;
        padding: 0px 10px;
        cursor: pointer;
        font-size: var(--font-size-small);
        font-family: var(--font-family);
        color: var(--primary);
    }
}

.preview {
    width: 320px;
    min-height: 120px;
    background-color: var(--white);
}

.account-item-wrapper {
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    padding: 6px 10px;

    &:hover {
        border-radius: 4px;
        cursor: pointer;
        background-color: var(--background-hover);
    }
}
.avatar {
    object-fit: cover;
    border-radius: var(--border-rd-circle);
    width: 32px;
    height: 32px;
}
.item-info {
    flex: 1;
    margin-left: 12px;
    .nickname {
        display: flex;
        align-items: center;
        .username {
            font-size: var(--font-size-small);
            font-family: var(--font-family-bold);
        }
        .check {
            margin-left: 6px;
            font-size: var(--font-size-small);
            color: #20d5ec;
        }
    }
    .name {
        opacity: 0.75;
        font-size: 1.2rem;
        color: #161823;
    }
}
