.wrapper {
    border-top: 1px solid #e3e3e4;
    padding: 20px 0;

    .label {
        padding: 5px 0;
        font-size: var(--font-size-small);
        font-family: var(--font-family);
        font-size: var(--font-size-small);
    }

    .more-btn {
        margin-top: 10px;
        padding: 0px 10px;
        cursor: pointer;
        font-family: var(--font-family);
        font-size: var(--font-size-small);
        color: var(--primary);
    }

    .user {
        font-family: var(--font-family-bold);
        p {
            &:last-child {
                font-family: var(--font-family);
            }
        }
    }
}

.preview {
    width: 320px;
    min-height: 120px;
    background-color: var(--white);
}