.wrapper {
    width: 540px;
    .card {
        margin-top: 20px;
        font-family: var(--font-family);

        .title {
            margin-bottom: 5px;
        }

        .description {
            color: rgba(22, 24, 35, 0.65);
        }

        .input {
            display: flex;
            flex-flow: column;
            margin-top: 6px;
            border: 1px solid var(--border-color);
            .textarea {
                scrollbar-width: none;
                resize: none;
                outline: none;
                border: none;
                box-sizing: border-box;
                width: 100%;
                padding: 12px;
                background-color: transparent;
            }
            &:focus-within {
                border: 1px solid rgba(22, 24, 35, 0.75);
            }

            .len-text {
                padding-left: 12px;
                font-size: 12px;

                .count-len {
                    color: rgba(22, 24, 35, 0.75);
                }

                .max-len {
                    color: rgba(22, 24, 35, 0.34);
                }
                .out-in-len {
                    color: red;
                }
            }
        }

        .input-waring {
            border: 1px solid red;
            &:focus-within {
                border: 1px solid red;
            }
        }

        .input-waring-email {
            border: 1px solid red;
            &:focus-within {
                border: 1px solid rgba(22, 24, 35, 0.75);
            }
        }

        .waring {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 12px;
            color: red;
        }

        .waring-email {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: 12px;
            color: red;
        }

        .no-waring {
            display: none;
        }
    }

    .image {
        margin-top: 20px;
        width: 300px;
        height: auto;
    }
}
