.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 247px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    .Sidebar {
        padding: 32px 19px 48px 20px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        font-size: 1.4rem;
        flex-flow: column;

        .btn-upload {
            width: 208px;
            height: 36px;
            border-radius: 8px;

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
            }
        }
    }

    .footer {
        padding: 20px;
        margin-bottom: 18px;
        font-size: 14px;
        width: 100%;
        gap: 5px;
        display: flex;
        align-items: center;
        height: 36px;
        color: rgba(0, 0, 0, 0.65);

        &:hover {
            color: black;
        }
    }
}

.sidebar-spacer {
    height: 32px;
}
