.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-right: var(--border-default);
    width: 247px;
    .Sidebar {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        padding: 32px 19px 48px 20px;
        font-size: var(--font-size-small);

        .btn-upload {
            border-radius: 8px;
            width: 208px;
            height: 36px;

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        gap: 5px;
        width: 100%;
        height: 36px;
        padding: 20px;
        font-size: var(--font-size-small);
        color: var(--text-color-light);

        &:hover {
            color: var(--text-color);
        }
    }
}

.sidebar-spacer {
    height: 32px;
}
