.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
        display: flex;
        justify-content: space-between;

        .menu-drop {
            display: flex;
            gap: 8px;
            .menu-item {
                border: var(--border-default);
                border-radius: var(--border-rd);
                height: 34px;
                padding: 0 12px;
                font-size: var(--font-size-small);
                color: var(--text-color);

                &:focus {
                    border: 1px solid var(--black);
                }
            }
        }
        .search {
            display: flex;
            align-items: center;
            box-sizing: content-box;
            border: var(--border-default);
            border-radius: var(--border-rd);
            width: 338px;
            height: 34px;
            padding: 0 10px;
            background-color: var(--white);
            .icon {
                margin-right: 6px;
                box-sizing: content-box;
                padding: 2px;
            }
            input {
                flex: 1;
                height: 100%;
                font-size: var(--font-size-large);
                caret-color: var(--primary);

                &::placeholder {
                    font-family: var(--font-family);
                    color: rgba(14, 13, 13, 0.535);
                }
            }
        }
    }
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: var(--border-default);
        border-radius: var(--border-rd);
        height: 300px;
        width: 100%;
        background-color: var(--white);
        .content {
            position: relative;
            width: 200px;
            height: 100px;

            .components_EmptyState_AbsoluteCenter {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border: var(--border-default);
                border-radius: var(--border-rd);
                width: 136px;
                height: 64px;
            }

            .components_EmptyState_AbsoluteCenter_3 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                gap: 7px;
                border: var(--border-default);
                border-radius: var(--border-rd);
                width: 160px;
                height: 52px;
                padding: 6px;
                background-color: var(--white);

                .components_EmptyState_div {
                    border-radius: 4px;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(0, 0, 0, 0.05);
                }
                .components_EmptyState_FlexColumn {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .item-EmptyState {
                        border-radius: 4px;
                        height: 6px;
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }

        .no-status {
            font-size: var(--font-size-small);
            color: rgba(0, 0, 0, 0.34);
        }
    }
}
