.wrapper {
    user-select: none;
    display: inline-flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: var(--border-rd-small);
    padding: 9px 16px;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--font--family);

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    + .wrapper {
        margin-left: 8px;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    margin-top: 3px;
    width: auto;
    text-align: center;
}

//Button type

.rounded {
    display: flex;
    justify-content: center;
    border-color: var(--border-color);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 5px;
    color: var(--text-color);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: var(--background-hover);
    }
}

.text {
    background: none;
    &:hover {
        text-decoration: underline;
        color: var(--primary);
    }
}

.primary {
    display: inline-flex;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
    }
}

.outline {
    border-color: currentColor;
    color: var(--primary);

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}
