@import 'normalize.css';

:root {
    // Text
    --font-family: 'ProximaNova', sans-serif;
    --font-family-bold: 'ProximaNova_Bold', sans-serif;
    --font-size-large: 1.6rem;
    --font-size-small: 1.4rem;
    
    //Color
    --white: #fff;
    --primary: #fe2c55;
    --black: #000;
    --background-default: rgba(0, 0, 0, 0.05);
    --background-hover: rgba(22, 24, 35, 0.03);
    --text-color: #333;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    // Border
    --border-rd: 8px;
    --border-default: 1px solid rgba(0, 0, 0, 0.08);
    --border-circle: 50%;
    --border-color: rgba(22, 24, 35, 0.12);
}

// Font
@font-face {
    src: url('../../Font/TikTokFont-Regular.woff2');
    font-family: 'ProximaNova';
    font-weight: 400;
}
@font-face {
    src: url('../../Font/TikTokFont-Bold.woff2');
    font-family: 'ProximaNova_Bold';
    font-weight: 600;
}

// Reset
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    line-height: 1.5;
    font-family: var(--font-family);
    text-rendering: optimizespeed;
    color: var(--text-color);
}
// Scrollbar Css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    .tippy-box {
        font-size: var(--font-size-large);
        line-height: 1.5;
        color: var(--white);
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
        font-size: var(--font-size-large);
        line-height: 1.5;
        background-color: rgba(84, 84, 84, 0.92);
        color: var(--white);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
