.wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin-left: -20px;
    width: 356px;
    height: calc(100vh - 60px);
    padding: 20px 8px 0px 16px;
   
    &:hover{
        overflow-y: scroll;
    }
}
