.wrapper {
    display: flex;
    flex-flow: column;
    background-color: #faf9f9;
    .body {
        display: flex;
        flex-flow: row;
        height: 710px;
        .children {
            height: 710px;
            width: 100%;
            overflow-y: scroll;
            scrollbar-width: none;
            padding: 32px;
        }
    }
}
