.wrapper {
    display: flex;
    flex-flow: row;
}

.header {
    display: flex;
    flex-flow: row;
    flex: 1;
    justify-content: end;
    align-items: center;
    border-bottom: var(--border-default);
    height: 68px;
    padding: 0 32px;

    .avt {
        border-radius: var(--border-circle);
        height: 36px;
        width: 36px;
        cursor: pointer;
    }
}

.logo-header {
    flex-shrink: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    border-bottom: var(--border-default);
    border-right: var(--border-default);
    width: 247px;
    height: 68px;
    padding: 0px 19px 0px 20px;

    .logo {
        width: 162px;
        height: 28px;
        cursor: pointer;
    }
}
