.wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
}
.menu-item {
    display: flex;
    align-items: center;
    transition: none;
    border-radius: 4px;
    padding: 8px 0px;
    will-change: background-color;
    font-weight: 700;
    font-size: 1.8rem;

    &:hover {
        background-color: var(--background-hover);
    }

    &.active {
        color: var(--primary);
    }

    & span {
        display: flex;
        align-items: center;
    }
}

.title {
    margin-left: 10px;
    font-family: var(--font-family-bold);
}

.active {
    color: #fe2c55;
}
