.wrapper {
    padding: 64px 56px 0;

    width: 100%;
    .title {
        font-family: var(--font-family-bold);
    }

    .login {
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
        overflow-y: scroll;
        margin-top: 16px;
        width: 95%;
        height: 345px;
        padding: 10px 0;

        &::-webkit-scrollbar {
            width: 8px;
        }

        .login-item {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 12px;
            margin-right: 5px;
            border-radius: var(--border-rd);
            border: solid 1px var(--border-color-default);
            padding: 0 16px;
            height: 42px;
            cursor: pointer;
            .icon {
                display: flex;
                align-items: center;
            }
            .item-title {
                flex: 1;
                white-space: nowrap;
            }
        }
    }
}
