.wrapper {
    flex: 1;

    .user-info {
        display: flex;
        flex-flow: row;
        gap: 16px;
        align-items: center;
        border: var(--border-default);
        border-radius: 8px;
        height: 90px;
        padding: 20px;
        background-color: var(--white);

        .user-avt {
            border-radius: var(--border-circle);
            width: 48px;
            height: 48px;
        }

        .user {
            display: flex;
            flex-flow: column;

            .user-interact {
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 10px;
                font-size: var(--font-size-small);
                color: rgba(0, 0, 0, 0.676);

                .user-count {
                    font-weight: 900;
                    color: rgba(0, 0, 0, 0.817);
                }
            }

            .user-name {
                font-family: var(--font-family-bold);
                font-size: var(--font-size-large);
            }
        }
    }

    .spacer {
        height: 28px;
    }
}
