@mixin layout() {
    border-radius: var(--border-rd);
    padding: 20px 24px 40px;
    background-color: var(--white);
}

.wrapper {
    display: grid;
    grid-template-columns: 66% auto;
    gap: 24px;
    .card-left {
        .key-figures {
            @include layout();
            .key-figures-header {
                display: flex;
                justify-content: space-between;
                .title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1.2rem;
                    column-gap: 1.6rem;
                    h2 {
                        font-family: var(--font-family-bold);
                    }
                    p {
                        font-size: var(--font-size-small);
                    }
                }
                a {
                    font-size: var(--font-size-large);
                    color: var(--text-color-tertiary);
                    svg {
                        transform: scale(-1.2);
                    }
                    &:hover {
                        text-decoration: none;
                        color: var(--text-color);
                    }
                }
            }
            .view {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 24px;
            }
        }

        .latest-comments {
            display: flex;
            flex-direction: column;
            min-height: 440px;
            font-family: var(--font-family-bold);
            @include layout();

            div {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.6rem;
                img {
                    height: auto;
                }
                p {
                    font-family: var(--font-family);
                    color: var(--text-color-light);
                }
            }
        }
    }
    .card-right,
    .card-left {
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
            padding: 0;
        }
    }

    .tippy-box {
        background-color: white;
        font-size: 12px;
        color: var(--text-color);
        max-width: 200px !important;
        min-width: 60px;
        width: max-content;
        animation: var(--shiff-away-up);

        :last-child::before {
            color: white;
        }
    }
}
