.wrapper {
    padding: 20px;
}

// Header
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: var(--border-rd-circle);
}
.follow-btn {
    padding: 6px 16px;
}

// Body
.body {
    padding: 8px 0;
}
.item-info {
    flex: 1;
    .nickname {
        display: flex;
        align-items: center;
        .username {
            font-size: var(--font-size-large);
            font-family: var(--font-family-bold);
        }
        .check {
            margin-left: 6px;
            font-size: var(--font-size-small);
            color: #20d5ec;
        }
    }
    .name {
        opacity: 0.85;
        font-size: 1.2rem;
        color: #161823;
    }
}

// Footer
.footer {
    display: flex;
    gap: 12px;
    .label {
        opacity: 0.5;
        margin-left: 6px;
        font-size: var(--font-size-small);
        color: #161823;
    }
    .value {
        font-size: 1.8rem;
        color: #161823;
    }
}
