.wrapper {
    display: flex;
    flex-flow: column;

    .card-1 {
        border-radius: var(--border-rd);
        border: 1px solid rgba(0, 0, 0, 0.078431);
        width: 100%;
        height: 605px;
        padding: 24px;
        background-color: white;
        .select-video-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            border-radius: var(--border-rd);
            border: 1px dashed rgba(0, 0, 0, 0.078431);
            width: 100%;
            height: 460px;
            background-color: #faf9f9;
            cursor: pointer;
            &:hover {
                border: 1px dashed #0075dc;
                background: rgba(0, 117, 220, 0.06);
            }

            .img-upload-video {
                width: 72px;
                height: 72px;
            }

            .upload-stage-title {
                font-family: var(--font-family-bold);
                font-size: 22px;
            }

            .upload-stage-sub-title {
                font-family: var(--font-family);
                font-size: var(--font-size-large);
                color: rgba(0, 0, 0, 0.48);
            }

            .upload-stage-btn {
                margin-top: 20px;
                box-sizing: content-box;
                border-radius: var(--border-rd);
                width: 184px;
                height: 36px;
                padding: 0 12px;
            }
        }

        .video-suggestion {
            display: flex;
            gap: 16px;
            width: 100%;
            height: 95px;
            padding-top: 32px;

            .video-sgt-items {
                display: flex;

                .card-1-icon {
                    padding-right: 8px;
                }

                .card-1-title {
                    font-family: var(--font-family-bold);
                    font-size: var(--font-size-large);
                }
                .card-1-description {
                    margin-top: 5px;
                    font-size: 13px;
                    font-family: var(--font-family);
                    color: rgba(0, 0, 0, 0.48);
                }
            }
        }
    }

    // Link CapCut
    .card-2 {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        border-radius: var(--border-rd);
        border: 1px solid rgba(0, 0, 0, 0.078431);
        width: 100%;
        height: 72px;
        padding: 16px;
        background-color: white;

        .card-2-title {
            font-family: var(--font-family);
            font-size: var(--font-size-small);
            font-weight: bolder;
        }

        .card-2-description {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.48);
        }

        .card-2-btn {
            border-radius: var(--border-rd);
            font-size: var(--font-size-small);
            background-color: var(--background-default);

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}
