.wrapper {
    table {
        margin-top: 12px;
        margin-bottom: 30px;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            font-family: var(--font-family);
            th {
                opacity: 0.6;   
                padding: 12px 16px;
                font-family: var(--font-family-semi-bold);
                font-size: var(--font-size-small);
                text-align: left;
                color: var(text-color);
                &:last-child {
                    text-align: center;
                }
            }
        }

        tbody {
            font-size: var(--font-size-small);
            td {
                padding: 12px 16px;
                div {
                    padding: 0;
                    cursor: auto;
                    &:hover {
                        background: none;
                    }
                }
                img {
                    border-radius: 6px;
                    width: 50px;
                    height: 50px;
                }

                p {
                    &:last-child {
                        color: var(--text-color-light) !important;
                    }
                }

                :last-child {
                    svg {
                        cursor: pointer;
                        &:hover {
                            background-color: var(--background-default);
                            border-radius: var(--border-rd);
                            padding: 0.4rem;
                            box-sizing: content-box;
                        }
                    }
                }
            }

            tr {
                position: relative;
                &:hover {
                    background: rgba(113, 112, 112, 0.04);
                    .hover {
                        display: flex;
                    }
                }
                .hover {
                    position: absolute;
                    left: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    background-color: rgba(0, 0, 0, 0.189);
                    cursor: pointer;
                    color: var(--white);
                }
                :nth-child(6){
                    text-align: center;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: var(--font-family);
        font-size: var(--font-size-small);
        color: var(--text-color-light);
        .pagination {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0 16px;
            font-size: var(--font-size-min-small);
            :last-child {
                span {
                    transform: scaleX(-1);
                }
            }

            .page {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: var(--border-rd-small);
                width: auto;
                min-width: 28px;
                height: 30px;
                padding: 0 2px;
                cursor: pointer;
            }
            .focus {
                border-color: var(--primary);
                background: rgba(254, 44, 85, 0.07);
                color: var(--primary);
            }

            .ellipsis {
                display: flex;
                gap: 8px;
                align-items: center;
                span {
                    padding: 0 10px 10px;
                    cursor: pointer;
                    font-size: var(--font-size-max-large);
                }
            }

            svg {
                transform: scale(1.2);
            }

            .allowed {
                border: 1px solid rgb(240, 240, 240);   
                background: rgb(250, 250, 250);
                cursor: not-allowed;
                color: rgb(193, 193, 193);
            }
        }

        input {
            text-align: center;
            font-size: var(--font-size-min-small);
        }
        :last-child {
            &:hover {
                text-decoration: none;
            }
        }
    }
}
