.search {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    border: 2px solid var(--white);
    border-radius: var(--border-rd);
    width: 100%;
    max-width: 471px;
    padding: 0 10px;
    background-color: var(--white);
    .icon {
        margin-right: 6px;
        box-sizing: content-box;
        padding: 2px;
        transform: scale(1.2);
    }
    input {
        flex: 1;
        height: 100%;
        background: transparent;
        font-size: var(--font-size-large);
        caret-color: var(--primary);
        width: 100%;
        &::placeholder {
            font-family: var(--font-family);
            color: rgba(14, 13, 13, 0.535);
        }
    }

    // Loại bỏ thanh tăng giảm giá trị của input number
    input[type='number'] {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.focus {
    background-color: var(--background-default);
    &:focus-within {
        border: 2px solid var(--black);
        background-color: var(--white);
    }
}
