.wrapper {
    display: flex;
    flex-flow: column;
    gap: 20px;

    .title {
        text-transform: uppercase;
        font-family: var(--font-family-bold);
        font-size: 10px;
        color: rgba(0, 0, 0, 0.34);
    }
}

.menu-item {
    border-radius: 8px !important;
    width: 208px;
    height: 36px;
    padding: 9px 10px !important;
    background-color: #faf9f9;
    font-size: var(--font-size-small);
    color: rgba(0, 0, 0, 0.65);

    &:hover {
        border: var(--border-default);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 100%),
            linear-gradient(92deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.04) 100%);
    }
}

.active {
    border: var(--border-default);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 100%),
        linear-gradient(92deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.04) 100%);
    color: var(--black);
}

.menu-wrapper {
    display: flex;
    flex-flow: column;
    gap: 4px;
}
