.wrapper {
    width: 100%;
    height: max-content;
    margin-top: 15px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding-top: 116px;
        padding-bottom: 140px;
        background: url('https://sf16-website-login.neutral.ttwstatic.com/obj/tiktok_web_login_static/tiktok/site/static/webapp-static-site/532e06c8382fb6011df0.png')
            center center / cover no-repeat transparent;
        background-repeat: no-repeat;
        color: var(--black);
        .notfound {
            display: flex;
            align-items: center;
            white-space: nowrap;
            height: max-content;
            font-size: 300px;
            font-weight: 900;
            img {
                width: 244px;
                height: auto;
            }
            span {
                display: block;
                height: max-content;
                line-height: 300px;
            }
        }
        p {
            color: rgba(22, 24, 35, 0.5);
            margin-top: 20px;
        }

        h2 {
            margin-top: 40px;
        }
        button {
            margin-top: 24px;
            box-sizing: content-box;
            width: 344px;
            height: 36px;
            padding: 6px 8px;
            font-size: var(--font-size-max-large);
        }
    }
}
